<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="demoqa-exercise" parallel="tests" thread-count="2">

    <test name="Example Test">
        <classes>
            <class name="example.ExampleTest"/>
        </classes>
    </test>

    <!--   <test name="Example GRID Firefox">
            <parameter name="browser" value="firefox"/>

            <classes>
                <class name="example.ExampleGRIDTest"/>
            </classes>
        </test>

        <test name="Example GRID Chrome">
            <parameter name="browser" value="chrome"/>

            <classes>
                <class name="example.ExampleGRIDTest"/>
            </classes>
        </test>-->


</suite>