<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="demoqa-exercise" parallel="tests" thread-count="2">

    <test name="Example Test">
        <classes>
            <class name="example.ExampleTest"/>
        </classes>
    </test>

</suite>